header {
  position: sticky;
  top: 0;
  z-index: 999;
  /* width: 100%; */
  background-color: #fff;
  border-bottom: 1px solid #e7e5e5;
}
nav {
  height: 73px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1280px;
  margin: auto;
  padding: 0 30px;
  @media only screen and (max-width: 500px) {
    padding: 0 10px;
  }
}
nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  align-items: center;
}
nav ul li a,
button {
  margin: 0 !important;
}
nav a {
  font-size: 15px;
  text-decoration: none;
}
nav a#logo {
  color: #000000;
  font-weight: 700;
  align-items: center;
  display: flex;
}
nav a#logo img {
  max-height: 54px;
  box-sizing: border-box;
}
nav ul a {
  color: #191919;
  font-size: 14px;
  font-weight: 500;
  line-height: 23.8px;
}
nav ul a:hover {
  color: #3f1962;
}
.button-link:hover {
  transition: all 2s ease-in-out;
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(96deg, #c789f1 0%, #bd54e7 100%);
}
.button-link {
  overflow: visible;
  padding: 13px 27px 13px 27px;
  transition: all 0.4s ease-in-out;
  color: white;
  background: #9454e7;
  border-radius: 5px;
  display: block;
  width: max-content;
}
#ham-menu {
  display: none;
}
nav ul.active {
  left: 0;
}
@media only screen and (max-width: 1000px) {
  #ham-menu {
    display: block;
    color: #4d3663;
  }
  nav a#logo,
  #ham-menu {
    font-size: 2.2rem;
  }
  nav ul {
    background-color: #0a081a;
    position: fixed;
    left: -115vw;
    top: 73.6px;
    width: 100vw;
    height: calc(100vh - 73.6px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 1s;
    gap: 0;
    padding: 0 !important;
    margin-top: 0 !important;
    z-index: 99;
  }
}
@media only screen and (max-width: 950px) {
  nav ul {
    top: 73px;
    height: calc(100vh - 65.18px);
  }
  nav ul a {
    color: #fff;
  }
}
.login-button {
  color: #171717 !important;
  border: 1px solid #8e3f9e !important;
  font-weight: 400 !important;
  border-radius: 8px !important;
  letter-spacing: 1px !important;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}
.show {
  display: block;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  /* min-width: 177px; */
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  text-align: center;
  top: 75px;
  border-radius: 5px;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 23.8px;
}
.dropdown-content button {
  margin: 0 auto !important;
  margin-bottom: 15px !important;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.show {
  display: block;
}
/* ============= Ajout d'annonce */
.modal {
  background-color: #4b4b4b3d;
  height: 824px;
  position: absolute;
  right: 0;
  top: 72px;
  width: 100%;
  z-index: 99;
  height: 98vh;
  backdrop-filter: blur(5px);
}
.modal-contents {
  background-color: #fefefe;
  border: 1px solid #888;
  height: max-content;
  border-radius: 8px;
  overflow-y: auto;
  left: 30%;
  position: absolute;
  top: 25%;
  width: 45% !important;
  @media (max-width: 1360px) {
    left: 22%;
    width: 50% !important;
  }
  @media (max-width: 840px) {
    left: 15%;
    width: 70% !important;
  }
  @media (max-width: 574px) {
    left: 2%;
    width: 96% !important;
  }
}
.modal-content {
  padding: 15px;
}
.close {
  color: rgb(119, 118, 118);
  font-size: 28px;
  right: 14px;
  position: absolute;
  top: 10px;
}
.close:hover,
.close:focus {
  color: #764646;
  text-decoration: none;
  cursor: pointer;
}
.offer-request-link {
  display: block;
  padding: 30px 5px;
  color: #fff;
  border-radius: 7px;
}
.offer-link {
  background-color: #f68f12;
}
.request-link {
  background-color: #046682;
}
