#regForm {
  background-color: #f5f5f5;
  margin: 100px auto;
  padding: 40px;
  width: 70%;
  min-width: 300px;
  border-radius: 15px;
}

h1 {
  text-align: center;
}

input,
select {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
  background-color: #a962d9;
}
input.invalid {
  background-color: #ffdddd;
}
.tab {
  display: none;
}

button {
  background-color: #f68f12;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
  border-radius: 8px;
}

button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}
.step {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #a962d9;
  border: none;
  border-radius: 50%;
  display: inline-block;
  opacity: 0.5;
}

.step.active {
  opacity: 1;
}
.step.finish {
  background-color: #a962d9;
}
.upload-file-label {
  background-color: #a962d9;
  color: white;
  padding: 0.5rem;
  font-family: sans-serif;
  border-radius: 0.3rem;
  cursor: pointer;
  margin-top: 1rem;
}
.choose-file-container {
  grid-gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-bottom: 30px;
  @media only screen and (max-width: 800px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: 500px) {
    grid-template-columns: repeat(1, 1fr);
  }
}
