@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,200;6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900;6..12,1000&family=Permanent+Marker&display=swap");
body {
  font-family: "Inter", sans-serif;
  font-family: "Permanent Marker", cursive;
  font-family: "Nunito Sans", sans-serif;
}
/* ======================== Hero ============================ */
.hero-block {
  position: relative;
  display: flex;
  box-sizing: border-box;
  height: 100%;
  min-height: 65vh;
  padding-top: 20px;
  padding-bottom: 20px;
  justify-content: center;
  flex-direction: column;
}
.hero-block__background {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.web_ui__Image__image {
  background: no-repeat;
  background-size: cover;
  border-radius: 0;
  box-sizing: border-box;
  display: inline-block;
  font-size: 0;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  text-align: center;
  vertical-align: top;
  height: 100%;
  width: 100%;
}
.web_ui__Image__image img {
  object-fit: cover;
  border-radius: inherit;
  height: 100%;
  width: 100%;
  max-width: 100%;
  outline: none;
}
/* ======================== NextNav ============================ */
.next-header-container {
  border-top: 1px solid #e7e5e5;
}

@media screen and (max-width: 1100px) {
  .next-header-container {
    overflow-x: auto;
    width: 100%;
  }
}

.next-header-container ul {
  padding: 0;
}

@media screen and (max-width: 1000px) {
  .next-header-container ul {
    width: 1000px;
  }
}

.next-header-container ul li {
  color: #171717;
  font-size: 14px;
  padding: 6.5px 16px;
}

.next-header {
  margin: 0 2.6rem;
  display: flex;
  align-items: center;
  position: relative;
  @media screen and (min-width: 1400px) {
    max-width: 1280px;
    margin: 0 auto !important;
    padding: 0 4.5rem !important;
  }

  @media screen and (max-width: 1170px) {
    margin: 0 1.8%;
  }
}

/* ======================== SearchBar ============================ */
.search-bar-form {
  display: flex;
  @media screen and (max-width: 460px) {
    flex-direction: column;
  }
  div {
    @media screen and (max-width: 460px) {
      width: 100% !important;
      button {
        width: 100% !important;
        margin-left: 0;
      }
    }
  }
}
/* ============== categoryCard ============== */
.category-card-container {
  padding: 14px !important;
  border: 1px solid rgb(149, 149, 149);
  border-radius: 4px;
  background-color: rgb(243, 248, 249);
  text-align: center;
  display: block;
  color: #191919;
  transition: background-color 1s ease;
  /* height: 41px; */
}
.category-card-container:hover {
  background-color: #a463da;
}
/* ======================= Footer ============================ */
footer {
  background-color: #63016e;
}

.footer-hilexpertiz {
  width: 100%;
  background-color: rgb(9, 9, 9);
  padding: 20px 0;
}
.footer-hilexpertiz p {
  color: #fff;
  a:hover {
    color: #f08912;
  }
}
.fake-h5 {
  color: #fff;
  margin: 0 0 20px;
  font-weight: 700;
  text-transform: none;
  @media screen and (max-width: 639px) {
    margin: 20px 0;
  }
}
.mt-20-media-639 {
  @media screen and (max-width: 639px) {
    margin-top: 20px;
  }
}
/* ============ slider ============ */
#carousel1 .splide__slide {
  width: 15% !important;
  @media screen and (max-width: 1000px) {
    width: 25% !important;
  }
  @media screen and (max-width: 660px) {
    width: 35% !important;
  }
  @media screen and (max-width: 480px) {
    width: 50% !important;
  }
  @media screen and (max-width: 375px) {
    width: 100% !important;
  }
}
#carousel2 .splide__slide {
  width: 20% !important;
  @media screen and (max-width: 1000px) {
    width: 25% !important;
  }
  @media screen and (max-width: 660px) {
    width: 35% !important;
  }
  @media screen and (max-width: 480px) {
    width: 50% !important;
  }
  @media screen and (max-width: 375px) {
    width: 100% !important;
  }
}
/*  ==============  login ================ */
.login-container {
  @media (max-width: 960px) {
    gap: 70px;
  }
}
.login-content-left {
  max-width: 710px;
  margin: 0 auto;
  @media (max-width: 960px) {
    width: 100% !important;
  }
}
/* ============= header-search ============ */
.search-bar-form {
  display: flex;
  @media screen and (max-width: 460px) {
    flex-direction: column;
  }
}
.search-bar-form div {
  @media screen and (max-width: 460px) {
    width: 100% !important;
  }
}
.search-bar-form div button {
  @media screen and (max-width: 460px) {
    width: 100% !important;
    margin-left: 0;
  }
}
